<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Chat App</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Custom styles -->
    <style>
        .btn.btn-primary[disabled] {
            background-color: #cccccc;
            border: none;
            color: black;
        }
        div.chat_msg {
        /*background-color: #ddd;*/
        padding: 5px 10px;
        border-radius: 10px;
        color: #555;
        margin-bottom: 5px;
      }
    </style>

</head>
<body>
    <div class="container-sm">
        <!-- Top -->
        <div class="text-center shadow-sm p-3 mb-4 bg-white rounded">
            <h4>Simple Chat App</h4>
        </div>

        <nav class="navbar navbar-expand-sm navbar-light shadow-sm p-3 mb-5 rounded" style="background-color: #e3f2fd;">
          <a class="navbar-brand" style="cursor: default">Rooms</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% for room in rooms %}
                    <li class="nav-item">
                        <a class="select-room btn nav-link" id="nav-room-{{room}}"
                           onclick="navigate2NewRoom(this.innerHTML)">{{room}}</a>
                    </li>
                {% endfor %}
            </ul>
          </div>
        </nav>


        <!-- Body -->
        <div class="row d-flex align-items-start">
            <!-- Col 1 -->
            <div class="col-sm-3 > shadow-sm p-3 mb-5 bg-white rounded">
                <!-- (1) Username -->
                <form id="noname_form">
                    <label>Username</label>
                    <div class="input-group mb-3">
                        <input id="noname_input-username" type="text" class="username form-control" aria-label="Username">
                        <div class="input-group-append">
                            <button id="noname_btn-log-in" class="btn btn-primary" type="submit">
                                Log in
                            </button>
                        </div>
                    </div>
                </form>

                <!-- (2) Message -->
                <label>Message</label>
                <div class="input-group mb-3">
                    <textarea id="registered_input-msg" class="msg form-control" disabled></textarea>
                </div>

                <!-- (3) Message -->
                <button id="registered_btn_send" type="button" class="btn btn-primary" onclick="send_msg()" disabled>
                    Send<i class="fas fa-paper-plane"></i>
                </button>
            </div>

            <!-- Col 2 -->
            <div class="col-sm-1"></div>

            <!-- Col 3-->
            <div class="col-sm-8 shadow p-3 mb-5 bg-white rounded" style="min-height:265px !important">
                <div id="chat">
                    <div class="msg-wrapper"></div>
                </div>
            </div>
        </div>
    </div>

    <!--  Bootstrap prerequisites -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script src="static/js/socket.io.js"></script>

    <script id="chat_client" src="static/js/chat_client.js" rooms="{{rooms}}"></script>

</body>
</html>
